
.label
{
    background-color: rgb(174, 100, 218);
    padding: 2px;
    border-radius: 2px;
    color:wheat;
    font-weight: bold;
}

.btn-secondary
{
    background-color: aliceblue;
    color: black;
}

.badge
{
    background-color: aqua;
}